@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

@theme {
    --font-sans: "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif;
    --font-heading: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
}

@theme {
    --color-primary: #808080;
    --color-secondary: #511281;
    --color-dark: #11011e;
    --color-background: #ffffff;

    --color-text-primary: #2b2b2b;
    --color-text-secondary: #b6b6b6;
    --color-text-muted: #ecf1f0;
    --color-text-inverse: #ffffff;

    --color-neutral-900: #000000;
    --color-neutral-600: #808080;
    --color-neutral-300: #c6c6c6;
    --color-neutral-200: #eaeaea;

    --color-percent-up: #009445;
    --color-percent-down: #940025;
}
